.button {
    #display: block;
    background-image: url('https://i.pinimg.com/736x/de/bb/49/debb490d56b2dcfe3bb9d2cb1f32820c--pewdiepie-hd-wallpaper.jpg?b=t');
    #background-repeat: no-repeat;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    height: 50px;
    #border-bottom: 1px solid;
}